cffi==1.15.0
columns==0.0.2
decorator==5.1.1
hupper==1.10.3
Jinja2==3.0.3
keyboard==0.13.5
MarkupSafe==2.0.1
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
player==0.6.1
pycparser==2.21
pygame==2.1.1
pymunk==6.2.1
pyramid==2.0
pyramid-jinja2==2.8
self==2020.12.3
stats==0.1.2a0
translationstring==1.4
venusian==3.0.0
WebOb==1.8.7
zope.deprecation==4.4.0
zope.interface==5.4.0